#api {
    padding: 13vh 0 0 10vw;
}

#ques {
    border-color: #18436e;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px #18436e;
    width: 54vw;
    background-color: #fff;
    margin-bottom: 3vh;
    padding: 2vh 0.5vw;
}

#code_wrapper {
    border-color: #18436e;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px #18436e;
    width: 55vw;
    background-color: #fff;
}

#header_code {
    padding: 1vh 0.5vw;
    border-bottom: 1px solid #bbb;
}

select {
    padding: 0.5vh 0.5vw;
    margin-left: 2vh;
    border-radius: 10px;
}

select:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

#code {
    width: 55vw;
    height: 80vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input {
    resize: none;
    overflow: scroll;
    font-size: 1.5vh;
    padding: 1vh 0.5vw;
    border: none;
}

#code:focus {
    outline: none;
}

#footer_code {
    border-top: 1px solid #bbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#run_button {
    border-bottom-left-radius: 5px;
    border: none;
    background: none;
    background-color: #5cb85c;
    padding: 1.5vh 2.5vw;
    font-size: 2vh;
    color: #fff;
    cursor: pointer;
}

#save_button {
    border-bottom-right-radius: 5px;
    border: none;
    background: none;
    background-color: #bbb;
    padding: 1.5vh 2.5vw;
    float: right;
    font-size: 2vh;
    color: #fff;
    cursor: pointer;
}

#io_wrapper {
    margin-top: 3vh;
    border-color: #18436e;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px #18436e;
    width: 55vw;
    background-color: #fff;
    overflow: hidden;
}

#input_data {
    width: 55vw;
    height: 7vh;
    border-bottom: 1px solid #bbb;
}

#output_data {
    width: 55vw;
    height: 15vh;
}

#side_leaderboard {
    position: absolute;
    top: 11vh;
    right: 10vw;
    float: right;
}

#table_box_code {
    width: 23vw;
    background-color: #fff;
    border-color: #18436e;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px #18436e;
    padding: 0;
    margin: 0;
}

#table_code {
    border-collapse: collapse;
}

#heading_row_code:hover {
    background-color: rgba(0,0,0,0);
}

#top {
    margin-bottom: 0;
    padding-top: 1vh;
}
