#table_wrapper{
    padding-top: 13vh;
}

#table {
    background-color: #fff;
    padding: 2vh 1vw;
    border: none;
    border-radius: 5px;
    border-collapse: collapse;
}

tr {
    padding: 0;
    margin: 0;
}

th,td {
    width: 20vw;
    text-align: center;
    padding: 1vh 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 2vh;
}

th {
    border-bottom: 1px solid #bbb;
}

tr:hover {
    background-color: #ddd;
}
