#table_wrapper{
    padding-top: 13vh;
}

#table_box {
    padding: 1vh 0 0 0;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
}

#table {
    border: none;
    border-collapse: collapse;
}

tr {
    padding: 0;
    margin: 0;
    transition: all 0.2s linear;
}

th,td {
    width: 20vw;
    text-align: center;
    padding: 1vh 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 2vh;
}

th {
    border-bottom: 1px solid #bbb;
}

tr:hover {
    background-color: #ddd;
}

#heading_row:hover {
    background-color: #fff;
}
