.inp-group {
    margin: 2vh 0;
}

#register_wrapper {
    padding-top: 23vh;
}

#register_box {
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    padding: 3vh 7vw;
}

.inp-reg {
    width: 25vw;
    margin-right: 1vw;
    margin-left: 1vw;
}
