.center {
    width: auto;
    border: 5px solid white;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    background-color:#3f1112;
}

.padding{
     padding: 20vh 20vw;
}

//#3f1112
